// .SpecialCircleFatherContainer {
//   background: linear-gradient(#2364d8, #00a1ff);
//   height: 12rem;
//   width: 12rem;
// }
.circleFather {
  background-color: #2364D8;
  height: 13rem;
  width: 13rem;
}
.circleChildTitle{
  color: #5B5B5B;
}
.Triangle{
  margin-right: -141px;
  transform: rotate(-90deg);
}