.OurMission {
  background-image: linear-gradient(0deg, #2364d890 0, #2364d8),
    url("../../constant/images/ourMission.png");
  background-size: cover;
}
.ourMissionTitle {
  color: #fff;
  font-size: 26px;
  align-self: flex-start;
}
.ourMissionDescription {
  color: #fff;
  font-size: 18px;
  text-align: start;
}
