.list {
  color: #5b5b5b;
}
.btn-primary {
  background-color: #2364d8;
}
.description {
  text-align: right;
}

@media (max-width: 991px) {
  .titleH {
    align-self: center;
    border: none;
  }
  .iconWithTitle {
    justify-content: center;
  }
  .description {
    text-align: center;
  }
  .button {
    justify-content: center;
  }
}
