.content-page{
    margin-top: 8rem;
}
.coverflow__container__1P-xE{
    background: rgba(0, 0, 0, 0) !important;
}

.coverflow__figure__3bk_C {

    // backface-visibility: hidden; 
    backface-visibility: visible !important; 
    
    // box-shadow: 0 50px 70px rgba(0, 0, 0, 0.5); 
    box-shadow:none !important;

    -webkit-box-reflect: below -2.3rem -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0)) !important; 
}

.coverflow__cover__25-7e {
    // box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    box-shadow: none !important; 
}


.coverflow__text__39hqd {
//    background: rgba(0, 0, 0, 0.6); 
    display: none !important;
   background: transparent !important; 
}

// figure.coverflow__figure__3bk_C img{
//     display: block !important;
//     width: 10rem !important;
//     height: 15rem !important;
// }

@media (max-width: 768px) {
    // figure.coverflow__figure__3bk_C[data-radium=true] img{
    //     width:  !important;
    // }
    // figure.coverflow__figure__3bk_C{
    //     padding: 0 5rem;
    //     margin: 0 1.5rem;
    // }
}



@media (min-width: 768px) {
    figure.coverflow__figure__3bk_C img{
        display: block !important;
        width: 10rem !important;
        height: 15rem !important;
    }
}