.full-ball{
  border-width: 1rem;
  border: solid #F2F2F2;
  z-index: 0;
  position: absolute;
  right: 31rem;
  top: 0rem;
  height: 30rem;
  width: 30rem;
}
.Specialize-title-ball-father {
  height: 20rem;
  width: 20rem;
  background: radial-gradient(#bdc4c9, #ebebed);
  .Specialize-title-ball {
    background-color: #fff;
    height: 15rem;
    width: 15rem;
    .Specialize-title {
      color: #2364d8;
    }
  }
}
.around-circle {
  z-index: 1;
  margin-top: 5rem;
}
.prop-style1 {
  transform: rotate(90deg);
}
.inside-style1 {
  height: 9rem;
  width: 9rem;
  background-color: #fff;
  transform: rotate(-90deg);
}
.prop-style2 {
  transform: rotate(45deg);
}
.inside-style2 {
  height: 9rem;
  width: 9rem;
  background-color: #fff;
  transform: rotate(-45deg);
}
.prop-style3 {
  // margin-top: 50px;
  transform: rotate(0deg);
}
.inside-style3 {
  height: 9rem;
  width: 9rem;
  background-color: #fff;
  transform: rotate(0deg);
}
.prop-style4 {
  transform: rotate(-45deg);
}
.inside-style4 {
  height: 9rem;
  width: 9rem;
  background-color: #fff;
  transform: rotate(45deg);
}
.prop-style5 {
  transform: rotate(-90deg);
}
.inside-style5 {
  height: 9rem;
  width: 9rem;
  background-color: #fff;
  transform: rotate(90deg);
}
.full-inside-circle1 {
  transform: rotate(0deg);
  margin-left: 5rem;
}
.inside-circle1 {
  background-color: #fff;
  height: 10rem;
  width: 10rem;
}
.full-inside-circle2 {
  transform: rotate(45deg);
  margin-left: -4rem;
}
.inside-circle2 {
  transform: rotate(-45deg);
  background-color: #fff;
  height: 10rem;
  width: 10rem;
}
.full-inside-circle3 {
  transform: rotate(180deg);
  margin-left: -2rem;
}
.inside-circle3 {
  transform: rotate(-180deg);
  background-color: #fff;
  height: 10rem;
  width: 10rem;
}
.full-inside-circle4 {
  transform: rotate(135deg);
  margin-left: 7rem;
}
.inside-circle4 {
  transform: rotate(-135deg);
  background-color: #fff;
  height: 10rem;
  width: 10rem;
}
.full-inside-circle5 {
  transform: rotate(90deg);
  position: absolute;
  top: -8rem;
}
.inside-circle5 {
  transform: rotate(-90deg);
  background-color: #fff;
  height: 10rem;
  width: 10rem;
}
