.specialize-us-section{
  margin-top: 10%;
}
.full-ball {
  border-width: 1rem;
  border: solid #f2f2f2;
  z-index: 0;
  position: relative;
  height: 30rem;
  width: 30rem;
}
.Specialize-title-ball-father {
  height: 20rem;
  width: 20rem;
  background: radial-gradient(#bdc4c9, #ebebed);
  .Specialize-title-ball {
    background-color: #fff;
    height: 15rem;
    width: 15rem;
    .Specialize-title {
      color: #2364d8;
    }
  }
}
.fullInsideCircle1 {
  position: absolute;
  .insideCircle {
    background-color: #fff;
    transform: rotate(-90deg);
  }
  left: 87%;
  transform: rotate(90deg);
  .InsideCircle1 {
    transform: rotate(90deg);
  }
}
.fullInsideCircle2 {
  position: absolute;
  .insideCircle {
    background-color: #fff;
    transform: rotate(-135deg);
  }
  left: 70%;
  top: 70%;
  transform: rotate(135deg);
  .InsideCircle2 {
    transform: rotate(135deg);
  }
}
.fullInsideCircle3 {
  position: absolute;
  .insideCircle {
    background-color: #fff;
    transform: rotate(-180deg);
  }
  top: 87%;
  transform: rotate(180deg);
  .InsideCircle3{
    transform: rotate(180deg);
  }
}
.fullInsideCircle4 {
  position: absolute;
  .insideCircle {
    background-color: #fff;
    transform: rotate(90deg);
  }
  right: 87%;
  transform: rotate(-90deg);
  .InsideCircle4{
    transform: rotate(-90deg);
  }
}
.fullInsideCircle5 {
  position: absolute;
  .insideCircle {
    background-color: #fff;
    transform: rotate(135deg);
  }
  right: 70%;
  top: 70%;
  transform: rotate(-135deg);
  .InsideCircle5{
    transform: rotate(-135deg);
  }
}
@media (max-width: 992px) {
  .full-ball {
    width: 25rem;
    height: 25rem;
    .Specialize-title-ball-father {
      height: 18rem;
      width: 18rem;
      background: radial-gradient(#bdc4c9, #ebebed);
      .Specialize-title-ball {
        background-color: #fff;
        height: 14rem;
        width: 14rem;
        .Specialize-title {
          color: #2364d8;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .full-ball {
    width: 20rem;
    height: 20rem;
    .Specialize-title-ball-father {
      height: 15rem;
      width: 15rem;
      background: radial-gradient(#bdc4c9, #ebebed);
      .Specialize-title-ball {
        background-color: #fff;
        height: 12rem;
        width: 12rem;
        .Specialize-title {
          color: #2364d8;
          font-size: 35px;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .full-ball {
    width: 17rem;
    height: 17rem;
    .Specialize-title-ball-father {
      height: 13rem;
      width: 13rem;
      background: radial-gradient(#bdc4c9, #ebebed);
      .Specialize-title-ball {
        background-color: #fff;
        height: 11rem;
        width: 11rem;
        .Specialize-title {
          color: #2364d8;
        }
      }
    }
  }

  .fullInsideCircle1 {
    position: absolute;
    .insideCircle {
      background-color: #fff;
      transform: rotate(-90deg);
    }
    left: 90%;
    transform: rotate(90deg);
  }
  .fullInsideCircle2 {
    position: absolute;
    .insideCircle {
      background-color: #fff;
      transform: rotate(-135deg);
    }
    left: 73%;
    top: 73%;
    transform: rotate(135deg);
  }
  .fullInsideCircle3 {
    position: absolute;
    .insideCircle {
      background-color: #fff;
      transform: rotate(-180deg);
    }
    top: 90%;
    transform: rotate(180deg);
  }
  .fullInsideCircle4 {
    position: absolute;
    .insideCircle {
      background-color: #fff;
      transform: rotate(90deg);
    }
    right: 90%;
    transform: rotate(-90deg);
  }
  .fullInsideCircle5 {
    position: absolute;
    .insideCircle {
      background-color: #fff;
      transform: rotate(135deg);
    }
    right: 73%;
    top: 73%;
    transform: rotate(-135deg);
  }
}
@media (max-width: 440px) {
  .full-ball {
    width: 15rem;
    height: 15rem;
    .Specialize-title-ball-father {
      height: 12rem;
      width: 12rem;
      background: radial-gradient(#bdc4c9, #ebebed);
      .Specialize-title-ball {
        background-color: #fff;
        height: 10rem;
        width: 10rem;
        .Specialize-title {
          color: #2364d8;
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .full-ball {
    width: 12rem;
    height: 12rem;
    .Specialize-title-ball-father {
      height: 9rem;
      width: 9rem;
      background: radial-gradient(#bdc4c9, #ebebed);
      .Specialize-title-ball {
        background-color: #fff;
        height: 7rem;
        width: 7rem;
        .Specialize-title {
          color: #2364d8;
          font-size: 20px;
        }
      }
    }
  }
}
