.service-description{
  margin-top: 5%;
}
.title {
  color: #2364d8;
  font-size: 26px;
  text-align: right;
}
body {
  font-family: DIN_NEXT;
}
.desc {
  color: #5b5b5b;
  text-align: right;
  line-height: 35px;
}
image {
  object-fit: cover;
  width: 100%;
}
@media (max-width: 991px) {
  .text {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  .desc {
    text-align: center;
  }
  .title {
    text-align: center;
  }
}
.about-us-section{
  margin-top: 10%;
}